$primary:    #030D0D;
$secondary:  #3D4040;
$tertiary:   #DAF2F2;
$quaternary: #E1FAFA;
$fivefold:   #FFFFFF;
$sixtyfold:  #14CCCC;
$sevenfold:  #11A6A6;
$eightfold:  #17E5E5;
$ninefold:   #17E6E6;
$tenfold:    #27A6E5;
$elevenfold: #0077FF;
$twelvefold: #FF6666;

// Шрифты
@font-face {
  font-family: 'Gogh';
  src:  url('../../../src/static/fonts/Gogh-ExtraBold.eot') format('eot'),
        url('../../../src/static/fonts/Gogh-ExtraBold.ttf') format('truetype'),
        url('../../../src/static/fonts/Gogh-ExtraBold.woff') format('woff'),
        url('../../../src/static/fonts/Gogh-ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway-Bold';
  src:  url('../../../src/static/fonts/Raleway-Bold.eot') format('eot'),
        url('../../../src/static/fonts/Raleway-Bold.ttf') format('truetype'),
        url('../../../src/static/fonts/Raleway-Bold.woff') format('woff'),
        url('../../../src/static/fonts/Raleway-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway-Regular';
  src:  url('../../../src/static/fonts/Raleway-Regular.eot') format('eot'),
        url('../../../src/static/fonts/Raleway-Regular.ttf') format('truetype'),
        url('../../../src/static/fonts/Raleway-Regular.woff') format('woff'),
        url('../../../src/static/fonts/Raleway-Regular.woff2') format('woff2');
}

// Размеры Шрифтов
$fontSize14:   14px;
$fontSize16:   16px;
$fontSize20:   20px;
$fontSize24:   24px;
$fontSize28:   28px;
$fontSize32:   32px;
$fontSize40:   40px;
$fontSize56:   56px;

// Межстрочный интервал
$lineHeight100:    100%;
$lineHeight150:    150%;

// Устройства
$mobile: 374px;
$tablet: 768px;
$hd: 1366px;
$full-hd: 1920px;