@import "../../../static/scss/typography.scss";
@import "../../../static/scss/variables.scss";

#form {
  display: block;
  position: inherit;
  background-color: $primary;
  width: 374px;
  height: 908px;
  margin: 0 auto;
}
.form-div {
  position: relative;
  top: 80px;
  left: 0px;
  width: 374px;
  height: 748px;
  background-color: $primary;
  background-image: url('data:image/svg+xml,<svg width="346" height="281" viewBox="0 0 346 281" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse opacity="0.3" cx="-5.8977" cy="-70.9117" rx="352.047" ry="350.302" transform="rotate(-44.2804 -5.8977 -70.9117)" fill="rgb(17, 166, 166)"/></svg>'),
  url('data:image/svg+xml,<svg width="347" height="372" viewBox="0 0 347 372" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse opacity="0.3" cx="-4.57739" cy="20.4193" rx="352.047" ry="350.302" transform="rotate(-44.2804 -4.57739 20.4193)" fill="rgb(23, 230, 230)"/></svg>'),
  url('data:image/svg+xml,<svg width="303" height="438" viewBox="0 0 303 438" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse opacity="0.3" cx="352.568" cy="350.415" rx="351.886" ry="350.281" transform="rotate(5.71635 352.568 350.415)" fill="rgb(23, 230, 230)"/></svg>'),
  url('data:image/svg+xml,<svg width="372" height="379" viewBox="0 0 372 379" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse opacity="0.3" cx="352.172" cy="351.113" rx="351.886" ry="350.281" transform="rotate(5.71635 352.172 351.113)" fill="rgb(17, 166, 166)"/></svg>');
  background-position: left top, left top, right bottom, right bottom;
  background-repeat: no-repeat;
}
.form-h2 {
  position: relative;
  top: 39px;
  left: 15px;
  color: $fivefold;
}
.form-p {
  @include t2;
  position: relative;
  top: 37px;
  left: 15px;
  width: 342px;
  color: $fivefold;
}
.form-h4 {
  position: relative;
  top: 459px;
  left: 15px;
  color: $fivefold;
}
.form-icon__vk {
  position: relative;
  top: 463px;
  left: 132px;
  padding: 15px 11px;
  background-color: $fivefold;
  box-shadow: 0px 0px 20px rgba(13, 64, 64, 0.1);
  border-radius: 4px;
  width: 26.4px;
  height: 16.8px;
  fill: $elevenfold;
  @media(hover) {
    &:hover {
      background-color: $quaternary;
    }
  }
  &:active {
    background-color: $tertiary;
  }
}
.form-icon__telegram {
  position: relative;
  top: 462px;
  left: 146px;
  padding: 13px 12px;
  background-color: $fivefold;
  box-shadow: 0px 0px 20px rgba(13, 64, 64, 0.1);
  border-radius: 4px;
  width: 22.8px;
  height: 20.4px;
  fill: $elevenfold;
  @media(hover) {
    &:hover {
      background-color: $quaternary;
    }
  }
  &:active {
    background-color: $tertiary;
  }
}
.form-form {
  position: absolute;
  top: 200px;
  left: 15px;
  width: 342px;
  height: 376px;
  background-color: $fivefold;
  border-radius: 8px;
  .form-input {
    @include t2;
    position: relative;
    top: 22.5px;
    left: 21px;
    width: 272px;
    padding: 9px 14px 9px;
    border: none;
    border-radius: 4px;
    outline: none;
    color: $secondary;
    margin-bottom: 18px;
  }
  .form-button {
    @include t3_b;
    position: relative;
    top: 68px;
    left: 16px;
    padding: 11px 92px;
    background-color: $sixtyfold;
    border: 2px solid transparent;
    border-radius: 4px;
    color: $fivefold;
    cursor: pointer;
    &:hover {
      background-color: $ninefold;
    }
    &:active {
      background-color: $sevenfold;
    }
  }
  .form-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .form-checkbox + label {
    position: relative;
    top: -23px;
    left: 17px;
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }
  label {
    @include t3;
    color: $secondary;
  }
  .form-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 2px solid $tertiary;
    border-radius: 4px;
    margin-top: 5px;
    margin-right: 10px;
  }
  .form-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: $tertiary;
    background-image: url('data:image/svg+xml,<svg width="20" height="20" fill="none" version="1.1" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="m15 6.3c0.39 0.39 0.39 1 0 1.4l-6 6c-0.39 0.39-1 0.39-1.4 0l-3-3c-0.39-0.39-0.39-1 0-1.4 0.39-0.39 1-0.39 1.4 0l2.3 2.3 5.3-5.3c0.39-0.39 1-0.39 1.4 0z" clip-rule="evenodd" fill="rgb(218, 242, 242)" fill-rule="evenodd"/></svg>');
    background-repeat: no-repeat;
  }
  .form-checkbox:not(:checked) + label:active::before {
    border-color: $sixtyfold;
    background-image: url('data:image/svg+xml,<svg width="20" height="20" fill="none" version="1.1" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="m15 6.3c0.39 0.39 0.39 1 0 1.4l-6 6c-0.39 0.39-1 0.39-1.4 0l-3-3c-0.39-0.39-0.39-1 0-1.4 0.39-0.39 1-0.39 1.4 0l2.3 2.3 5.3-5.3c0.39-0.39 1-0.39 1.4 0z" clip-rule="evenodd" fill="rgb(255, 255, 255)" fill-rule="evenodd"/></svg>');
    background-color: $sixtyfold;
    background-repeat: no-repeat;
  }
  .form-checkbox:checked + label:active::before {
    border-color: $sixtyfold;
    background-image: url('data:image/svg+xml,<svg width="20" height="20" fill="none" version="1.1" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="m15 6.3c0.39 0.39 0.39 1 0 1.4l-6 6c-0.39 0.39-1 0.39-1.4 0l-3-3c-0.39-0.39-0.39-1 0-1.4 0.39-0.39 1-0.39 1.4 0l2.3 2.3 5.3-5.3c0.39-0.39 1-0.39 1.4 0z" clip-rule="evenodd" fill="rgb(255, 255, 255)" fill-rule="evenodd"/></svg>');
    background-color: $sixtyfold;
    background-repeat: no-repeat;
  }
  .form-checkbox:checked + label::before {
    border-color: $eightfold;
    background-image: url('data:image/svg+xml,<svg width="20" height="20" fill="none" version="1.1" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="m15 6.3c0.39 0.39 0.39 1 0 1.4l-6 6c-0.39 0.39-1 0.39-1.4 0l-3-3c-0.39-0.39-0.39-1 0-1.4 0.39-0.39 1-0.39 1.4 0l2.3 2.3 5.3-5.3c0.39-0.39 1-0.39 1.4 0z" clip-rule="evenodd" fill="rgb(255, 255, 255)" fill-rule="evenodd"/></svg>');
    background-repeat: no-repeat;
    background-color: $eightfold;
  }
  @mixin label {
    @include t2;
    display: block;
    width: 304px;
    height: 44px;
    border: 2px solid $tertiary;
    border-radius: 4px;
    cursor: pointer;
    @media(hover) {
      &:hover {
        border-color: $ninefold;
      }
    }
    &.err {
      border-color: $twelvefold;
    } 
  }
  #form-question:focus ~ label[for="form-question"]:hover,
  #form-name:focus ~ label[for="form-name"]:hover,
  #form-contact:focus ~ label[for="form-contact"]:hover,
  #form-network:focus ~ label[for="form-network"]:hover {
    border-color: $sixtyfold;
  }
  #form-question:focus ~ label[for="form-question"]:not(:hover),
  #form-name:focus ~ label[for="form-name"]:not(:hover),
  #form-contact:focus ~ label[for="form-contact"]:not(:hover),
  #form-network:focus ~ label[for="form-network"]:not(:hover) {
    border-color: $sixtyfold;
  }
  .form-input:valid:focus {
    @include t2_b;
  }
  .form-input:valid:not(:focus) {
    @include t2_b;
    border-color: $tertiary;
  }
  .form-input::placeholder {
    @include t2;
  }
  label[for="form-question"] {
    @include label;
    position: relative;
    top: -297px;
    left: 18px;
  }
  label[for="form-contact"] {
    @include label;
    position: relative;
    top: -285px;
    left: 18px;
  }
  label[for="form-name"] {
    @include label;
    position: relative;
    top: -273px;
    left: 18px;
  }
  label[for="form-network"] {
    @include label;
    position: relative;
    top: -261px;
    left: 18px;
  }
}